{% extends "base.html" %}

{% block page_header %}{{_('applications')}}{% endblock %}
{% block page_header_toolbar %}
  <a href="#" class="btn info" data-controls-modal="modal-application" data-backdrop="true" data-keyboard="true" title="{{_('Create Application')}}">{{_('Create')}}</a>
{% endblock %}

{% block main_content %}
<div id="modal-application" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>{{_('New Application')}}</h3>
  </div>
  <div class="modal-body">
    <form id="form-application" action="{{url_for('create_application')}}" method="POST">
      <fieldset>
        <div class="clearfix">
          <label for="name">{{_('Name')}}</label>
          <div class="input">
            <input class="name span3 required" id="name" name="name" type="text"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="description">{{_('Description')}}</label>
          <div class="input">
            <input class="description span4" id="description" name="description" type="text"/>
          </div>
        </div>
        <div class="actions">
          <a id="button-create-application" href="#" class="btn primary">{{_('Create')}}</a>
          <a href="#" class="btn secondary" onclick="$('#modal-application').modal('hide');">{{_('Cancel')}}</a>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div class="row">
  <div class="fill">
    {% if applications %}
    <table id="applications" class="zebra-striped">
      <thead>
        <tr>
          <th>{{_('Name')}}</th>
        </tr>
      </thead>
     <tbody>
        {% for app in applications %}
        <tr>
          <td><a href="{{url_for('application', app_uuid=app.uuid)}}">{{app.name}}</a></td>
        </tr>
        {% endfor %}
     </tbody>
    </table>
    {% else %}
    <div class="info">{{_('You have not created any applications.')}}</div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $("#button-create-application").click(function() {
    if (validateForm("form-application")) {
      $("#form-application").submit();
    } else {
      return false;
    }
  });
  $(function() {
    {% if applications %}
    $("table#applications").tablesorter({ sortList: [[0,0]]});
    {% endif %}
  });
</script>
{% endblock %}

